html {
	margin: 0;
	padding: 0;
}

body {
	--baseColor: rgb(255, 111, 0);
	--fgLightness: 25%;
	--bgLightness: 98%;
	--fontFamilyEm: "Martina Plantijn";
	--fontWeightEm: 300;
	--hrOpacity: 20%;
	--hrMargin: 2rem;
	--hrHeight: 0.25rem;
	--hrMaxWidth: 2rem;

	color: hsl(from var(--baseColor) h 40% var(--fgLightness));
	background: hsl(from currentColor h s var(--bgLightness));
	max-width: 35rem;
	margin: 0 auto;
	padding: min(6vw, 3rem);
	font-family: "Copernicus", serif;
	font-variant-numeric: lining-nums;

	@media (prefers-color-scheme: dark) {
		--fgLightness: 85%;
		--bgLightness: 0%;
	}
}

h1,
h2,
h3 {
	font-weight: 500;
	border: none;
	border-color: none;
	padding: 0;
	margin: 0 0 1.25em;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1.1rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

p,
blockquote {
	margin: 1.5rem 0;
}

blockquote {
	background: transparent;
	border-left: 0.25rem solid hsl(from currentColor h s l / 75%);
	border-radius: 0;
	padding: 0 0 0 1em;

	&,
	p {
		font-size: 1.2rem;
		font-style: italic;
	}
}

blockquote,
blockquote p,
i,
em {
	font-family: var(--fontFamilyEm) !important;
	font-weight: var(--fontWeightEm);
}

hr {
	margin: var(--hrMargin) auto;
	width: 100%;
	opacity: var(--hrOpacity);
	border-inline: none;
	max-width: var(--hrMaxWidth);
	border: none;

	/* HACK: Avoid browsers hiding hr when printing */
	height: 0;
	border: calc(var(--hrHeight) / 2) solid currentColor;
}

.code-line::before {
	display: none !important;
}
